<div class="container">

    <div class="pt-3 mb-5">
        <h3 class="d-inline">Mualliflar</h3>
        <a routerLink="0" class="btn btn-success float-end"><i class="fa fa-plus"></i></a>
        <hr class="mb-0">
    </div>

    <ng-container *ngFor="let item of article">
        <div class="card shadow mb-5">
            <div class="card-body">
                <div class="card-title">
                    <h4 class="mb-0">{{ item.title.slice(0, 100) }}...</h4>
                </div>
                <div class="card-text fs-6" [innerHTML]="item.text.slice(0, 300) + '...'"></div>
                <p class="mb-0 fw-bolder">{{ item.author }}</p>
                <!-- buttons -->
                <div class="d-block text-end">
                    <a [routerLink]="item.id" class="btn btn-warning me-2">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <button type="button" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
</div>