<footer>
    <hr class="mb-0">
    <div class="container d-flex justify-content-between align-items-center py-3" *ngIf="about[0]">
        <div class="">
            <div class="">
                Tel: <a href="tel:{{about[0].phone}}">{{ about[0].phone }}</a>
            </div>
            <div class="">
                Email: <a href="mailto:{{about[0].email}}">{{ about[0].email }}</a>
            </div>
            <div class="">
                Telegram: <a href="{{about[0].telegram}}">{{ about[0].telegram }}</a>
            </div>
        </div>
        <div class="footer-copyright pb-3 text-center">
            © {{ date | date:'YYYY' }} Copyright by <a href="#!" target="_blank"> UBTUIT</a>
        </div>
    </div>
</footer>