@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800");


a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
input,
label,
button,
textarea {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
}


img {
    width: 100% !important;
}

body {
    min-width: 350px;
}



.table>:not(caption)>*>* {
    padding: 10px 15px;
}


input.ng-touched.ng-invalid {
    border-color: #ff0000;
}
